/*Geral*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #fff url(../imagens/bg.png);
	margin: 15px;
}

#container {
	background: #ede9cc url(../imagens/bg-container.png) top center repeat-y;
    margin: 0 auto;
    max-width: 1180px;
    min-width: 740px;
}

/*cabecalho*/
#head {
    background: url(../imagens/topo-imagem-principal.png) no-repeat left;
    height: 250px;
}

#topo-lateral {
    float: right;
    width: 450px;
    height: 250px;
    background: url(../imagens/topo-imagem-lateral.png) no-repeat;
}

#logo {
    background: url(../imagens/logo.png) no-repeat;
    width: 151px;
    height: 66px;
    position: absolute;
    margin: 15px;
}

#logo a {
    text-indent: -9000px;
    display: block;
    width: 151px;
    height: 66px;
}

/*menu*/
#menu {
    width: 360px;
    height: 100%;
    float: right;
    padding: 10px;
}

#menu>div>span {
    color: #6e672c;
    font-size: 0.9em;
    line-height: 2em;
}

#menu>div>a {
    text-decoration: none;
    font-size: 0.9em;
    background-color: #6e672c;
    color: white;
    float: right;
    padding: 5px 10px;
}

#menu div {
    border-top: 1px solid #6e672c;
    padding: 5px 10px;
}

#menu ul {
    list-style: none;
    float: left;
    margin-top: 10px;
}

#menu ul li {
    display: block;
    padding: 5px;
}

#menu ul li a {
    text-decoration: none;
    color: #6e672c;
    padding: 5px;
}

#menu ul li a:hover {
    text-decoration: none;
    background: #fdf6be;
}

#menu img {
    float: right;
    position: absolute;
    margin-top: 10px;
}

/*conteudo*/
#principal>div{
    width: 48%;
    padding: 1%;
}

#conteudo{
    float: left;
    background: url(../imagens/bg-area-principal.png) repeat-x;
}

#conteudo div{
    padding: 5px 15px;
}

#conteudo div h3{
    margin-bottom: 5px;
    color: #6e672c;
}

#conteudo div p{
    margin-bottom: 5px;
}

#listagem {
    float: right;
    background: url(../imagens/bg-area-lateral.png) repeat-x;
}

#listagem li {
    list-style: none;
}

#listagem a{
    text-decoration: none;
    display: block;
    height: 100px;
    margin: 5px 15px;
    padding: 5px;
    border-bottom: #f3efcb 1px solid;
}

#listagem a:hover{
    background: #f3efcb;
}

#listagem a h3 {
    color: #6e672c;
    background: url(../imagens/ornamento.png) no-repeat right;
}

#listagem a img {
    float: left;
    margin: 0px 5px;
    width: 150px;
}

#listagem a p {
    color: #000;
    font-size: 0.9em;
    line-height: 0.9em;
}

/*rodape*/
#rodape {
    clear: both;
    background: #fff url(../imagens/bg-rodape.png) repeat-x top;
    color: #6e672c;
    padding: 10px;
    padding-top: 15px;
    font-size: 1.1em;
}