* {
    margin: 0;
    padding: 0;
}

body,
html {
    font-family: Arial, sans-serif;
    height: 100%;
}

#cabecalho {
    background: #fff;
    height: 7%;
    width: 100%;
    position: fixed;
    line-height: 3em;
    z-index: 1;
}

#cabecalho #logo {
    color: #333;
    text-decoration: none;
    margin-left: 0.5em;
}

#cabecalho #logo h1 {
    display: inline;
}

#cabecalho #logo~a {
    margin-top: 0.5em;
    margin-right: 0.5em;
    line-height: 1em;
    color: #fff;
    padding: 0.5em 1.5em;
    background: #333;
    opacity: 0.8;
    border-radius: 20px;
    float: right;
    text-decoration: none;
}

.caixa1,
.caixa2,
.caixa3,
.caixa4,
.caixa5,
.caixa6,
.caixa7 {
    height: 93%;
    opacity: 0.8;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    z-index: 0;
}

.conteudo {
    color: gray;
    text-align: justify;
    padding: 3% 15%;
}

.conteudo h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
    text-align: center;
}

.conteudo p {
    margin-top: 0.5em;
    line-height: 1.5em;
}

.caixa1 {
    padding-top: 3.2%;
    background-image: url(../imagens/imagem1.jpg);
}

.caixa1 h1 {
    position: relative;
    font-size: 3em;
    text-align: center;
    top: 40%;
}

.caixa2 {
    background-image: url(../imagens/imagem2.jpg);
}

.caixa3 {
    background-image: url(../imagens/imagem6.jpg);
}

.caixa4 {
    background-image: url(../imagens/imagem4.jpg);
}

.caixa5 {
    background-image: url(../imagens/imagem5.jpg);
}

.caixa6 {
    background-image: url(../imagens/imagem3.jpg);
}

.caixa6 h1 {
    position: relative;
    font-size: 3em;
    text-align: center;
    top: 5%;
}

.caixa6 h2 {
    display: inline;
    position: relative;
    font-size: 3em;
    top: 40%;
    left: 55%;
}

.caixa7 {
    padding-top: 3.15%;
    background-image: url(../imagens/fundo.jpg);
    text-align: center;
}

.caixa7>div {
    position: absolute;
    top: 40%;
    left: 37.5%;
    width: 25%;
    height: 15em;
}

.caixa7 #fundo {
    border-radius: 1em;
    background-color: #fff;
    opacity: 0.4;
}

div img {
    width: 27%;
    position: relative;
    top: -3.5em;
    border-radius: 5em;
}

#formulario {
    width: 70%;
    margin: 5em auto;
}

#formulario input [type="text"],
[type="email"],
[type="password"] {
    width: 90%;
    margin-bottom: 5%;
    padding: 0.5em 0em;
    padding-left: 35px;
    border-radius: 0.5em;
    border: none;
    background-repeat: no-repeat;
    background-position: 8px;
    font-size: 0.9em;
}

#formulario input[type="text"],
[type="email"] {
    background-image: url(../imagens/icone-usuario.png);
}

#formulario input[type="password"] {
    background-image: url(../imagens/icone-cadeado.png);
}

#formulario input[type="submit"] {
    padding: 0.5em 1.5em;
    background: #ff7700;
    color: #fff;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    margin-top: 10px;
}