#navegacao, #rodape {
    background-color: #ffbb00;
    text-align: center;
    font-weight: bold;
    padding: 1px;
    width: 100%;
    clear: both;
}

#titulo {
    font-size: 25px;
    margin: 10px 0px;
}

#menu {
    margin: 25px;
}

#principal {
    width: 945px;
    margin: auto;
    padding: 1%;
}

#secao {
    float: right;
    width: 260px;
}

#conteudo {
    float: left;
    width: 640px;
}

h2 {
    color: #ffbb00;
    display: inline;
}

a {
    text-decoration: none;
    font-size: 17px;
    padding: 0px 10px;
    color: #fff;
}

a:hover {
    color: #ffbb00;
    background-color: #fff;
}

a:link.lateralA {
    color: #ffbb00;
}

a:hover.lateralA {
    color: #ffbb00;
    text-decoration: underline;
}

a.lateral {
    text-decoration: none;
    font-size: 14px;
    color: #ffbb00;
}

body {
    background-color: #fff4d7;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.lateral {
    width: 260px;
    background-color: #fff;
    padding: 10px;  
    margin-bottom: 15px;
}

.tituloL{
    background-color: #fde9b3;
    font-size: 20px;
    font-weight: bold;
    display: block;
    padding: 3px 10px;
}

.conteudoL {
    font-size: 14px;
    padding: 0px 10px;
}

.postagem {
    width: 640px;
    background-color: #fff;
    padding: 5px 15px;
    margin-bottom: 15px;
}

.clear {
    clear: both;
}

.cor {
    color: #4f250f;
}