/* Geral */
* {
    margin: 0;
    padding: 0;
}

#container {
    width: 750px;
    margin: 0 auto;
}

body {
    background: #fff url(../imagens/fundo.png) repeat-x;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

/* Cabeçalho */
#cabecalho {
    height: 150px;
    background: url(../imagens/detalhe-topo.png) no-repeat right top;
    padding-top: 25px;
}

.logo { 
    width: 152px;
    height: 66px;
    text-indent: -3000px;
    background: url(../imagens/logo.png) no-repeat center;
}

/*Menu Cabeçalho*/
#cabecalho ul {
    margin-top: 30px;
    float: left;
    background: #af0029;
}

#cabecalho ul li {
    float: left;
}

#cabecalho ul a {
    font-size: 0.9em;
    display: block;
    padding: 0.5em 1.5em;
    line-height: 2.1em;
    text-decoration: none;
    color: #fff;
    background: url(../imagens/divisor.png) no-repeat left;
}

#cabecalho ul .primeiro a {
    background: none;
}

#cabecalho ul a:hover {
    color: #3b0512;
}

body.home #cabecalho a#home,
body.brasil #cabecalho a#brasil,
body.internacional #cabecalho a#internacional,
body.fotos #cabecalho a#fotos {
    color: #fff;
    background: #dd0034;
    cursor: text;
}

/*Conteúdo geral*/
#conteudo {
    background: #fff;
    margin-top: 70px;
}

.conteudos {
    width: 270px;
    float: right;
}

#principal {
    float: left;
    position: relative;
    left: 195px;
}

#lateral {
    width: 180px;
    float: left;
    position: absolute;
}

#conteudo .caixa {
    background: url(../imagens/fundo-caixa.png);
    padding: 5px;
    margin-bottom: 10px;
}

#conteudo h4 {
    background: #294c71;
    color: #fff;
    padding: 5px;
}

#conteudo .caixa .caixa-conteudo{
    background: #fff;
    padding: 7px 5px;
    margin-top: 5px;
}

/*Conteúdo principal*/
#ampliado h5 {
    display: inline;
    background: #af0029;
    color: #fff;
    padding: 5px;
}

#ampliado img {
    border: 2px solid #ccc;
    width: 99%;
}

#ampliado a {
    color: #af0029;
}

/*Conteudo lista*/
#sequencial a {
    color: #000;
    height: 57px;
    text-decoration: none;
    font-size: 10px;
    display: block;
    padding: 5px;
    border-bottom: #ccc 1px solid;
}

#sequencial a:hover {
    background: #e9e9e9;
}

#sequencial img {
    float: left;
    margin-right: 10px;
    width: 83px;
}

#sequencial p {
    float: left;
}

#sequencial h5 {
    color: #294c71;
    font-size: 1.2em;
}

/*Lateral*/
#lateral a {
    text-decoration: none;
    color: #000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    line-height: 2.2em;
    display: block;
    border-bottom: #e9e9e9 1px solid;
}

#lateral a:hover {
    color: #bebdbd;
    background: url(../imagens/marcador.png) no-repeat left;
    padding-left: 20px;
}

#lateral fieldset {
    border:  #d8d8d8 1px solid;
}

#lateral legend {
    font-size: 0.9em;
    margin-left: 5px;
}

#lateral legend+input {
    width: 90%;
    background: none;
    margin: 5px;
}

#lateral input {
    width: 6em;
    height: 1.5em;
    margin-left: 5px;
    margin-bottom: 5px;
    background: #af0029;
    color: #fff;
}

/*Rodapé*/
#rodape {
    height: 60px;
    background: #294c71;
    clear: both;
}

#rodape span {
    display: block;
    width: 750px;
    color: #fff;
    font-size: 1em;
    line-height: 60px;
    margin: auto;
}